/* Container Section */
.content {
  width: 100%;
  display: flex;
}
.content__input {
  width: 33.33%;
  min-width: 250px;
  border-right: 1px solid black;
  height: 100vh;
  overflow-y: scroll;
}
.content__display {
    display: flex;
    width: 100%;
}
.resume {
  margin: 0 auto 0 auto;
}

/* Resume Input Section */

.input__section {
    padding: 1.75rem 1.5rem;
}

.input__section:not(:last-child) {
    border-bottom: 1px solid black;
}

.input__section input {
    margin-bottom: .5rem;
}

.section__header {
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: .75rem;
}

.section__content {
    padding-bottom: .5rem;
}

.section__content:not(:first-child) {
    padding-top: .5rem;
    border-top: 1px dashed black;
}

.section__content-remove {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.section__content-remove-icon {
    padding: .2rem;
    cursor: pointer;
}

/* Sheet Section */

.sheet {
    width: 210mm;
    height: 296mm;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
    page-break-after: always;
}


/* For screen preview */
@media screen {
  .content__display {
    background: #e0e0e0
  }
  .sheet {
    background: white;
    box-shadow: 0 .5mm 2mm rgba(0,0,0,.3);
    margin: 5mm auto;
  }
}

/* Fix for Chrome issue #273306 */
@media print {
  body.A4 {

  }
}

/* Input Section */

label {
    display: block;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: .25rem;
}

/* textarea & input */
textarea,
input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
input[type='week'],
input:not([type]) {
    -webkit-appearance: none; /* sass-lint:disable-line no-vendor-prefixes; */
    background-color: transparent;
    border: .1rem solid black;
    border-radius: .2rem;
    box-shadow: none;
    box-sizing: inherit; /* Forced to replace inherit values of the normalize.css */
    height: 2rem;
    padding: .6rem .6rem .7rem !important; /* This vertically centers text on FF, ignored by Webkit */
    width: 100%;
}

textarea {
    height: 5rem;
    resize: vertical;
}
