<div class="section__header section__header--certification">
    <div class="title">EDUCATION</div>
    <div class="divider">
        <div class="divider__line"></div>
    </div>
</div>
<div class="section__certification">
    <div class="certification">
        <div class="header">
            <div class="title">Master Degree in Studies</div>
            <div>2012</div>
        </div>
        <div class="header">
            <div>Name of University</div>
            <div>New York, New York</div>
        </div>
    </div>
</div>
