<div class="section__header section__header--certification">
    <div class="title">EDUCATION</div>
    <div class="divider">
        <div class="divider__line"></div>
    </div>
</div>
<div class="section__certification">
    {{#certifications}}
        <div class="certification">
            <div class="header">
                <div class="title">{{title}}</div>
                <div>{{year}}</div>
            </div>
            <div class="header">
                <div>{{organization}}</div>
                <div>{{location}}</div>
            </div>
        </div>
    {{/certifications}}
</div>