<div class="section__header section__header--contact">
    <div class=" title">Contact</div>
    <div class="divider">
        <div class="divider__line divider__line--white"></div>
    </div>
</div>
<div class="section__contact">
    <ul class="list">
        <li class="list__item">
            <i class="fa-solid fa-phone list__item_icon"></i>
            <span class="list__item_text">{{phone}}</span>
        </li>
        <li class="list__item">
            <i class="fa-solid fa-envelope list__item_icon"></i>
            <a class="list__item_text list__item_text--email" href="{{email}}">{{email}}</a>
        </li>
        <li class="list__item">
            <i class="fa-solid fa-location-dot list__item_icon"></i>
            <span class="list__item_text">{{location}}</span>
        </li>
    </ul>
</div>
