<div class="section__header section__header--skill">
    <div class="title">PROFESSIONAL SKILLS</div>
    <div class="divider">
        <div class="divider__line"></div>
    </div>
</div>
    <div class="list">
        {{#skills}}
            <div class="item">
                <div>{{name}}</div>
                <div class="rating">
                    <div class="block block--active"></div>
                    <div class="block block--active"></div>
                    <div class="block block--active"></div>
                    <div class="block block--active"></div>
                    <div class="block"></div>
                </div>
            </div>
        {{/skills}}
    </div>
</div>